@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
}
html {
    font-family: 'Poppins', sans-serif, Arial;   
}
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc-container {
    margin-top: 50px;
    border: 10px solid grey;
    border-radius: 9px;
    width: 65vw;
    height: 85vh;
    max-width: 500px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-container {
    width: 95%;
    height: 25%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

p {
    margin-right: 10px;
    font-size: 450%;
}


.display {
    border-bottom: 2px solid grey;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.buttons {
    width: 95%;
    height: 70%;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

button.zero {
    grid-column: span 2;
}

button {
    color: white;
    background: none;
    border-radius: 5px;
    font-size: 200%;
    border: none;
}

button.num, button.dot{
    background-color: #828282;
}

button.operator, button.clear, button.delete {
    background-color: #279AF1;
}

button.dot {
    font-size: 40%;
    padding-top: 20px;
}

button.equal {
    background-color: #CA054D;
    grid-row: span 2;
}

button:hover {
    transform: scale(0.98);
}
